.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1em 20em;
  background-color: var(--preto);

  @media (max-width: 430px) {
    padding: 1.1em 1em;
  }
}
