#navbar {
  justify-content: flex-end;
  align-items: center;
}

#navbar ul {
  display: flex;
  list-style: none;
  margin-top: 2rem;
  padding: 0;
}

#navbar ul li {
  margin: 0 10px;
}

#navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s;
}

#navbar ul li a:hover {
  background-color: #555;
}

/* Botão de abrir a sidebar */
.toggle-icon {
  margin-left: 3vh;
  margin-top: 3vh;
}

/* Media query para telas acima de 600px */
@media (min-width: 600px) {
  #navbar {
    display: flex;
  }
}
